.MainSection {
    background-color: #A9B5DF;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Example spacing below this component */
  }
  